*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
}

/* Light mode */
@media (prefers-color-scheme: light){
    body{
        background:#f5f7fb;
        color:#111;
    }

    .login-card{
        background:white;
        box-shadow:0 10px 30px rgba(0,0,0,0.08);
    }

    input{
        background:white;
        color:black;
        border:1px solid #ddd;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark){
    body{
        background:#0f172a;
        color:white;
    }

    .login-card{
        background:#1e293b;
        box-shadow:0 10px 30px rgba(0,0,0,0.4);
    }

    input{
        background:#334155;
        color:white;
        border:1px solid #475569;
    }
}

.login-wrapper{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.login-card{
    width:100%;
    max-width:420px;
    border-radius:16px;
    padding:40px;
}

.login-card h2{
    font-size: 42px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
}

.subtitle{
    text-align:center;
    margin-bottom:30px;
    opacity:0.7;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

input{
    width:100%;
    padding:14px;
    border-radius:10px;
    outline:none;
    font-size:16px;
}

input:focus{
    border:2px solid #06b6d4;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#06b6d4;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    opacity:0.9;
}

#message{
    color:red;
    margin-top:15px;
}